@import url("https://fonts.googleapis.com/css?family=Montserrat");
:root {
--darkest-grey: #3d3e42;
--darker-grey: #5A5E6B;
--dark-grey: #696969;
--medium-grey: #808080;
--light-grey: #A9A9A9;
--lighter-grey: #D3D3D3;
--lightest-grey: #F5F5F5;
--white: #ffffff;
--black: #0e1442;
--orange: #ffb300;
--medium-orange: #e67e00;
--dark-orange: #cc7000;
--darker-orange: #b36200;
--yellow: #fdd835;
}
@charset "UTF-8";
* {
  outline: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: var(--white);
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--white);
  display: block;
  transition-duration: 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
}

h3 {
  color: var(--orange);
  margin: 10px 0;
  text-transform: lowercase;
  font-size: 1.25em;
}

img {
  max-width: 100%;
}

.inner-link{
    text-decoration: none;
    color: var(--orange);
    display: inline;
    transition-duration: 0.3s;
}

.inner-link:hover{
    color: var(--yellow);
}

#structural_seg{
  margin : 20px;
  width: 90%;

}

#navigation li {
  display: inline-block;
  width:20%;
  min-width:100px;
  margin: 1px;

}

#navigation li a {
  margin: 0px;
  padding: 10px;
  background: var(--dark-grey) ;
  color: var(--lightest-grey) ;
  text-align: center ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: var(--medium-grey) ;
  color:var(--yellow);
}


.resume {
  background: var(--darkest-grey);
  color: var(--white);
  /*margin: 20px auto;
  box-shadow: 10px 10px var(--black);*/
  position: relative;
  display: flex;
}
.resume .base,
.resume .func {
  box-sizing: border-box;
  float: left;
}
.resume .base > div,
.resume .func > div {
  padding-bottom: 10px;
}
.resume .base > div:last-of-type,
.resume .func > div:last-of-type {
  padding-bottom: 0;
}
.resume .base {
  width: 45%;
  padding: 30px 15px;
  background: var(--dark-grey);
  color: var(--lightest-grey);
}
.resume .base .profile {
  background: var(--lighter-grey);
  padding: 30px 15px 40px 15px;
  margin: -30px -15px 45px -15px;
  position: relative;
  z-index: 2;
}
.resume .base .profile::after {
  content: "";
  position: absolute;
  background: var(--darkest-grey);
  width: 100%;
  height: 30px;
  bottom: -16px;
  left: 0;
  transform: skewY(-4deg);
  z-index: -1;
}
.resume .base .profile .photo img {
  width: 100%;
  border-radius: 50%;
  max-width:250px;
}
.resume .base .profile .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume .base .profile .info {
  text-align: center;
  color: var(--lightest-grey);
}
.resume .base .profile .info .name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.75em;
  /*text-transform: lowercase;*/
  color: var(--medium-orange);
}
.resume .base .profile .info .name a {
  color: var(--medium-orange);
}
.resume .base .profile .info .name a:hover {
  color: var(--yellow);
}
.resume .base .profile .info .job {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5em;
  /*text-transform: lowercase;*/
  color: var(--dark-grey);
}
.resume .base .contact div {
  line-height: 24px;
}
.resume .base .contact div a:hover {
  color: var(--yellow);
}
.resume .base .contact div a:hover span::after {
  width: 100%;
}
.resume .base .contact div:hover i {
  color: var(--yellow);
}
.resume .base .contact div i {
  color: var(--orange);
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
  transition-duration: 0.3s;
}
.resume .base .contact div span {
  position: relative;
}
.resume .base .contact div span::after {
  content: "";
  position: absolute;
  background: var(--yellow);
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}
.resume .base .follow .box {
  text-align: center;
  vertical-align: middle;
}
.resume .base .follow .box a {
  display: inline-block;
  vertical-align: text-bottom;
}
.resume .base .follow .box a:hover i {
  background: var(--yellow);
  border-radius: 5px;
  transform: rotate(45deg) scale(0.8);
}
.resume .base .follow .box a:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}
.resume .base .follow .box i {
  display: inline-block;
  font-size: 30px;
  background: var(--orange);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  color: var(--darker-grey);
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
}
.resume .base .follow .box i::before {
  transition-duration: 0.3s;
}
.resume .base .follow .box i.fa::before {
  display: block;
}
.resume .func {
  width: 100%;
  padding: 30px;
}
.resume .func:hover > div {
  transition-duration: 0.5s;
}
.resume .func:hover > div:hover h3 i {
  transform: scale(1.25);
}
.resume .func h3 {
  transition-duration: 0.3s;
  margin-top: 0;
}
.resume .func h3 i {
  color: var(--darker-grey);
  background: var(--orange);
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}
.resume .func .description {
  background: var(--dark-grey);
  padding: 15px;
  margin-bottom: 20px;
}

.resume .func .description h2 {
  margin-top:-10px;
  text-align: center;
},
.resume .func .description small {
  display: block;
  opacity: 0.7;
}
.resume .func .work {
  width: 48%;
  background: var(--dark-grey);
  padding: 15px;
  margin: 0 4% 15px 0;
  margin-bottom: 20px;
}
.resume .func .copyright {
  background: var(--dark-grey);
  font-size: 12px;
  padding: 2px;
  padding-left:15px;
}
.resume .func .publication {
  width: 100%;
  background: var(--dark-grey);
  padding: 15px;
  margin: 0 4% 15px 0;
  margin-bottom: 20px;
}
.resume .func .publication a:hover {
  color: var(--yellow);
}
