.content .base {
  box-sizing: border-box;
  float: left;
  position:fixed;
  height:90vh;
  overflow:auto;
}
.content .base > div {
  padding-bottom: 10px;
}
.content .base > div:last-of-type {
  padding-bottom: 0;
}
.content .base {
  width: 45%;
  max-width:400px;
  padding: 30px 15px;
  background: var(--dark-grey);
  color: var(--lightest-grey);
}
.content .base .profile {
  background: var(--lighter-grey);
  padding: 30px 15px 40px 15px;
  margin: -30px -15px 45px -15px;
  position: relative;
  z-index: 2;
}
.content .base .profile::after {
  content: "";
  position: absolute;
  background: var(--darkest-grey);
  width: 100%;
  height: 30px;
  bottom: -16px;
  left: 0;
  transform: skewY(-4deg);
  z-index: -1;
}
.content .base .profile .photo img {
  width: 100%;
  border-radius: 50%;
  max-width:250px;
}
.content .base .profile .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .base .profile .info {
  text-align: center;
  color: var(--lightest-grey);
}
.content .base .profile .info .name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.75em;
  /*text-transform: lowercase;*/
  color: var(--medium-orange);
}
.content .base .profile .info .name a {
  color: var(--medium-orange);
}
.content .base .profile .info .name a:hover {
  color: var(--yellow);
}
.content .base .profile .info .job {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.5em;
  /*text-transform: lowercase;*/
  color: var(--dark-grey);
}
.content .base .contact div {
  line-height: 24px;
}
.content .base .contact div a:hover {
  color: var(--yellow);
}
.content .base .contact div a:hover span::after {
  width: 100%;
}
.content .base .contact div:hover i {
  color: var(--yellow);
}
.content .base .contact div i {
  color: var(--orange);
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  margin-right: 15px;
  transition-duration: 0.3s;
}
.content .base .contact div span {
  position: relative;
}
.content .base .contact div span::after {
  content: "";
  position: absolute;
  background: var(--yellow);
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}
.content .base .follow .box {
  text-align: center;
  vertical-align: middle;
}
.content .base .follow .box a {
  display: inline-block;
  vertical-align: text-bottom;
}
.content .base .follow .box a:hover i {
  background: var(--yellow);
  border-radius: 5px;
  transform: rotate(45deg) scale(0.8);
}
.content .base .follow .box a:hover i::before {
  transform: rotate(-45deg) scale(1.5);
}
.content .base .follow .box i {
  display: inline-block;
  font-size: 30px;
  background: var(--orange);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  color: var(--darker-grey);
  margin: 0 10px 10px 10px;
  transition-duration: 0.3s;
}
.content .base .follow .box i::before {
  transition-duration: 0.3s;
}
.content .base .follow .box i.fa::before {
  display: block;
}
