.content .func .work,
.content .func .edu {
  float: left;
}
.content .func .work {
  width: 48%;
  max-width:800px;
  display:block;
  background: var(--dark-grey);
  padding: 15px;
  margin: 0 4% 15px 0;
  margin-bottom: 20px;
}
.content .func .edu {
  width: 48%;
  background: var(--dark-grey);
  padding: 15px;
  margin-bottom: 20px;
}
.content .func .work small,
.content .func .edu small {
  display: block;
  opacity: 0.7;
}

.content .func .work ul li,
.content .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}
.content .func .work ul li:hover::before,
.content .func .edu ul li:hover::before {
  animation: circle 1.2s infinite;
}
.content .func .work ul li:hover span,
.content .func .edu ul li:hover span {
  color: var(--yellow);
}
@keyframes circle {
  from {
    box-shadow: 0 0 0 0px var(--yellow);
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}
.content .func .work ul li:first-of-type::before,
.content .func .edu ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}
.content .func .work ul li:last-of-type,
.content .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}
.content .func .work ul li:last-of-type::after,
.content .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}
.content .func .work ul li::before,
.content .func .work ul li::after,
.content .func .edu ul li::before,
.content .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}
.content .func .work ul li::before,
.content .func .edu ul li::before {
  width: 7px;
  height: 7px;
  border: 3px solid var(--white);
  background: var(--orange);
  border-radius: 50%;
  left: 3px;
  z-index: 1;
}
.content .func .work ul li::after,
.content .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: var(--white);
  left: 5px;
  top: 0;
}
.content .func .work ul li span,
.content .func .edu ul li span {
  transition-duration: 0.3s;
}
.content .func .skills-prog {
  clear: both;
  background: var(--dark-grey);
  padding: 15px;
  margin-bottom: 20px;
}
.content .func .skills-prog ul {
  margin-left: 15px;
}
.content .func .skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}
.content .func .skills-prog ul li:hover {
  color: var(--yellow);
}
.content .func .skills-prog ul li:hover .skills-bar .bar {
  background: var(--yellow);
  box-shadow: 0 0 0 1px var(--yellow);
}
.content .func .skills-prog ul li span {
  display: block;
  width: 120px;
}
.content .func .skills-prog ul li .skills-bar {
  background: var(--white);
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}
.content .func .skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background: var(--orange);
  box-shadow: 0 0 0 var(--orange);
  border-radius: 5px;
}
.content .func .skills-prog ul li .skills-bar .hundred {
  width:100%;
}
.content .func .skills-prog ul li .skills-bar .ninety {
  width:90%;
}
.content .func .skills-prog ul li .skills-bar .eighty {
  width:80%;
}
.content .func .skills-prog ul li .skills-bar .seventy {
  width:70%;
}
.content .func .skills-prog ul li .skills-bar .sixty {
  width:60%;
}
.content .func .skills-prog ul li .skills-bar .fifty {
  width:50%;
}
.content .func .skills-prog ul li .skills-bar .fourty {
  width:40%;
}
.content .func .skills-prog ul li .skills-bar .thirty {
  width:30%;
}
.content .func .skills-prog ul li .skills-bar .twenty {
  width:20%;
}
.content .func .skills-prog ul li .skills-bar .ten {
  width:10%;
}

/* Not used in used template*/
.content .func .skills-soft {
  clear: both;
  background: var(--darker-grey);
  padding: 15px;
  margin: 15px 0 0;
}
.content .func .skills-soft ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.content .func .skills-soft ul li {
  position: relative;
}
.content .func .skills-soft ul li:hover svg .cbar {
  stroke: var(--yellow);
  stroke-width: 4px;
}
.content .func .skills-soft ul li:hover span,
.content .func .skills-soft ul li:hover small {
  transform: scale(1.2);
}
.content .func .skills-soft ul li svg {
  width: 95%;
  fill: transparent;
  transform: rotate(-90deg);
}
.content .func .skills-soft ul li svg circle {
  stroke-width: 1px;
  stroke: var(--white);
}
.content .func .skills-soft ul li svg .cbar {
  stroke-width: 3px;
  stroke: var(--orange);
  stroke-linecap: round;
}
.content .func .skills-soft ul li span,
.content .func .skills-soft ul li small {
  position: absolute;
  display: block;
  width: 100%;
  top: 52%;
  transition-duration: 0.3s;
}
.content .func .skills-soft ul li span {
  top: 40%;
}
.content .func .interests {
  background: var(--darker-grey);
  margin: 15px 0 0;
  padding: 15px;
}
.content .func .interests-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.content .func .interests-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.content .func .interests-items div:hover i {
  transform: scale(1.2);
}
.content .func .interests-items div:hover span {
  color: var(--yellow);
  transition-duration: 0.3s;
}
.content .func .interests-items div i {
  font-size: 45px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: var(--orange);
  transition-duration: 0.3s;
}
.content .func .interests-items div span {
  display: block;
}
